{% extends '::base.html.twig' %}
{% block header %}Note{% endblock %}
{% block header1 %}#{{ entity.id }}{% endblock %}

{% block body -%}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header">
                    <table class="table">
                        <tbody>
                        <tr>
                            <th style="width: 200px">Type</th>
                            <td>{{ entity.type }}</td>
                        </tr>
                        <tr>
                            <th>Description</th>
                            <td>{{ entity.descr }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% if app.user.id == entity.user.id %}
    <a href="{{ path('note_edit', { 'id': entity.id }) }}" class="btn btn-success btn-block margin-bottom">
        Modifier
    </a>
    {{ form(delete_form) }}
    {% endif %}
    <a href="{{ path('note') }}" class="btn btn-warning btn-block">
        Revenir à la liste
    </a>
{% endblock %}
